.header{
	padding-top: 11px;
} 
.nav{
	padding-left:30px;
	padding-right:30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	transition: 1.5s;
}
.menu{
	margin-left: auto;
}
.menu ul{
	list-style-type: none;
	margin:0px;
}
.menu li{
	float:left;
}
.menu a{
	text-decoration:none;
	color: #FBFFFE;
	font-family:"Nunito Sans";
	font-size: 16px;
	margin-right: 25px;
	text-transform: uppercase;
	transition: 0.3s;
}
.tel a{
	text-decoration:none;
	color: #FBFFFE;
	font-family:"Nunito Sans";
	font-size: 16px;
	margin-right: 20px;
	transition: 0.3s;
}
.tel{
	display: flex;
	align-items: center;
}
.burger{
	cursor:pointer;
	display: none;
}
.burger-menu{
	display: none;
}
.submenu{
	display:none;
	position: absolute;	
}
.submenu li{
	float:none;
	margin-top: 15px;
	margin-left: -15px;
}
.submenu a{
	text-transform: capitalize;
	color:#FBFFFE;
}